html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* END OF RESET */

:root {
  --main-clr: #fffcf1;
  --secondary-clr: #c6d0bc;
  --third-clr: #f6d78b;
  --titles-clr: #0a5f59;
  --clr-light: #c6d0bc6b;

  --nav-width: 95%;

  --ff-normal: "Poppins", sans-serif;
  --ff-titles: "Poppins", sans-serif;
  --ff-size-logo: clamp(2.6rem, 0.4565rem + 8.4058vw, 5.5rem);

  --blocks-margin: 15px;
  --margin-bottom: calc(4vmax + 75px);
}

body {
  background-color: var(--main-clr);
  font-family: var(--ff-normal);
}

/*Landing Page */
.landing-page {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.landing-page > h1 {
  margin-top: 15px;
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  font-weight: 700;
  font-size: clamp(2rem, 0.8913rem + 4.3478vw, 3.5rem);
}

.landing-page > h2 {
  padding-left: 3px;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
  color: rgba(128, 128, 128, 0.459);
}

.landing-page > h2 > strong {
  color: var(--titles-clr);
}

.landing-page > p {
  font-weight: 700;
  font-size: 3.2rem;
  margin-bottom: 5px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.first-name {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  background-color: var(--clr-light);
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.3rem;
  color: var(--titles-clr);
  height: 80px;
}

input[type="text"] {
  appearance: none;
  outline: none;
  border: none;
  background-color: calc(var(--clr-light) - var(--clr-light));
  font-weight: bolder;
  font-size: 1.7rem;
}

.first-name:focus-within {
  outline: 2px solid var(--third-clr);
  border-radius: 10px;
}

.cta-account button {
  appearance: none;
  width: 220px;
  padding: 15px 35px;
  border-radius: 30px;
  border: none;
  background-color: var(--titles-clr);
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 30px;
}

.cta-account button:hover {
  filter: brightness(110%);
}

.txt-rotate > .wrap {
  border-right: 0.08em solid var(--titles-clr);
  animation: animated-cursor 1000ms steps(29, end) infinite;
  padding-right: 0.08em;
}

@keyframes animated-cursor {
  from {
    border-right-color: var(--titles-clr);
  }
  to {
    border-right-color: transparent;
  }
}

nav {
  display: none;
  position: fixed;
  bottom: 2vh;
  left: calc((100% - var(--nav-width)) / 2);
  width: var(--nav-width);
  background-color: var(--titles-clr);
  padding: 15px 25px;
  border-radius: 50px;
  z-index: 2;
}

nav > ul {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 4vmax;
  color: var(--third-clr);
}

header {
  display: none;
  margin: var(--blocks-margin);
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}

header > h1 {
  margin-top: 15px;
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  font-weight: 700;
  font-size: clamp(2rem, 0.8913rem + 4.3478vw, 3.5rem);
}

header > h2 {
  font-family: var(--ff-titles);
  font-weight: 900;
  font-size: var(--ff-size-logo);
}

header .fa-seedling {
  color: var(--titles-clr);
}

.home-content {
  display: none;
}

.home-recap,
.bilan-co2 {
  margin: var(--blocks-margin);
  margin-top: 2vmax;
}

.home-recap > h2 {
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 3vmax;
}

#weekly-data-chart {
  width: 60%;
  margin: 0 auto;
}

.weekly-data-chart {
  position: relative;
}

.weekly-data-chart > p {
  position: absolute;
  top: 44%;
  left: 38%;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--titles-clr);
}

.bilan-co2 > h2 {
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  font-weight: 700;
  font-size: 1.5rem;
}

.progress-bar {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.24);
  margin-bottom: 3vmax;
  border-radius: 20px;
}

#myprogress-bar {
  width: 25%;
  border-radius: 20px;
  background-color: var(--secondary-clr);
  height: 10px;
}

.analytics-landing-page {
  display: none;
  height: 100%;
  flex-direction: column;
  gap: 5vh;
  margin: var(--blocks-margin);
  margin-bottom: var(--margin-bottom);
}

.form-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-start > h3,
.analytics > h3,
.solutions > h3 {
  font-family: var(--ff-titles);
  font-weight: 700;
  font-size: 1.8rem;
}

.form-start > button {
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--secondary-clr);
  font-size: 1.7rem;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.form-start > button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

#statement {
  display: none;
  width: 85%;
  margin-top: -5vh;
  text-align: center;
  font-style: italic;
}

.data-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.data-display > div {
  height: 150px;
  width: 100px;
  background-color: #0a5f5949;
  color: white;
  align-content: center;
  border-radius: 25px;
}

.last-data-added > ul > li {
  height: 50px;
  border-bottom: 2px solid var(--secondary-clr);
}

.solutions-landing-page {
  display: none;
  height: 100%;
  flex-direction: column;
  gap: 5vh;
  margin: var(--blocks-margin);
  margin-bottom: var(--margin-bottom);
}

.solutions {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.solutions-display {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.solutions-display::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.solutions-display::-webkit-scrollbar-thumb {
  background: var(--titles-clr);
  border-radius: 10px;
}
.solutions-display::-webkit-scrollbar-track {
  background: transparent;
}

.solutions-display > div {
  border-radius: 20px;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 250px;
  height: 350px;
  background-color: rgba(128, 128, 128, 0.308);
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  text-align: center;
}

.april-academy-content {
  display: none;
  margin: var(--blocks-margin);
  height: 100vh;
  margin-bottom: var(--margin-bottom);
}

/* .april-academy-content > h2 {
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  margin-top: 15px;

  font-weight: 700;
  font-size: clamp(2.6rem, 0.4565rem + 8.4058vw, 5.5rem);
  display: flex;
  align-content: flex-start;
}

.april-academy-content .fa-seedling {
  margin-top: 15px;
} */

.april-academy-content > h3 {
  color: var(--secondary-clr);
  margin-bottom: 5vh;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
}

.academy-grid > ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.academy-grid > ul > li {
  height: 80px;
  border-bottom: 2px solid var(--secondary-clr);
  font-size: 1.7rem;
}

.academy-grid > ul > li:hover {
  background-color: var(--secondary-clr);
  cursor: pointer;
}
