html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* END OF RESET */
@font-face {
  font-family: "averta_demo_pe_cutted_demoRg";
  src: url("fonts/avertademopecutteddemo-regular-webfont.woff2") format("woff2"),
    url("fonts/avertademopecutteddemo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "averta_demo_peextrabold";
  src: url("fonts/avertademope-extrabold-webfont.woff2") format("woff2"),
    url("fonts/avertademope-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --main-clr: #fffcf1;
  --secondary-clr: #c6d0bc;
  --third-clr: #f6d78b;
  --titles-clr: #0a5f59;

  --nav-width: 95%;

  --ff-normal: "averta_demo_pe_cutted_demoRg", sans-serif;
  --ff-titles: "verta_demo_peextrabold", sans-serif;

  --blocks-margin: 15px;
}

body {
  background-color: var(--main-clr);
  font-family: var(--ff-normal);
}

nav {
  position: fixed;
  bottom: 2vh;
  left: calc((100% - var(--nav-width)) / 2);
  width: var(--nav-width);
  background-color: var(--titles-clr);
  padding: 15px 25px;
  border-radius: 50px;
}

nav > ul {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 4vmax;
  color: var(--third-clr);
}

header {
  margin: var(--blocks-margin);
  position: relative;
}

header > h1 {
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  font-weight: 700;
  font-size: 1.5rem;
}

header > h2 {
  font-family: var(--ff-titles);
  font-weight: 900;
  font-size: 3.5rem;
}

header .fa-seedling {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 3rem;
  color: var(--titles-clr);
}

.home-recap,
.bilan-co2 {
  margin: var(--blocks-margin);
  margin-top: 3vmax;
}

.home-recap > h2 {
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 3vmax;
}

#weekly-data-chart {
  width: 60%;
  margin: 0 auto;
}

.weekly-data-chart {
  position: relative;
}

.weekly-data-chart > p {
  position: absolute;
  top: 44%;
  left: 38%;
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--titles-clr);
}

.bilan-co2 > h2 {
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  font-weight: 700;
  font-size: 1.5rem;
}

.progress-bar {
  width: 90%;
  margin: 0 auto;
  background-color: rgba(128, 128, 128, 0.24);
  margin-bottom: 3vmax;
  border-radius: 20px;
}

#myprogress-bar {
  width: 25%;
  border-radius: 20px;
  background-color: var(--secondary-clr);
  height: 10px;
}

.analytics-landing-page {
  display: none;
  height: 100vh;
  flex-direction: column;
  gap: 5vh;
  margin: var(--blocks-margin);
  margin-bottom: 100px;
}

.form-start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-start > h3,
.analytics > h3 {
  font-family: var(--ff-titles);
  font-weight: 700;
  font-size: 1.8rem;
}

.form-start > button {
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--secondary-clr);
  font-size: 1.7rem;
  padding: 10px 20px;
  border-radius: 50%;
}

.form-start > button:hover {
  filter: brightness(110%);
  cursor: pointer;
}

#statement {
  display: none;
  width: 85%;
  margin-top: -5vh;
  text-align: center;
  font-style: italic;
}

.data-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.data-display > div {
  height: 150px;
  width: 100px;
  background-color: #0a5f59;
  color: white;
  align-content: center;
}

.last-data-added > ul > li {
  height: 50px;
  border-bottom: 2px solid var(--secondary-clr);
}

.april-academy-content {
  display: none;
  margin: var(--blocks-margin);
  height: 100%;
  margin-bottom: 100px;
}

.april-academy-content > h2 {
  font-family: var(--ff-titles);
  color: var(--titles-clr);
  font-weight: 700;
  font-size: 2.4rem;
  display: flex;
  gap: 50px;
}

.april-academy-content > h3 {
  color: var(--secondary-clr);
  margin-bottom: 5vh;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
}

.academy-grid > ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.academy-grid > ul > li {
  height: 80px;
  border-bottom: 2px solid var(--secondary-clr);
  font-size: 1.7rem;
}

.academy-grid > ul > li:hover {
  background-color: var(--secondary-clr);
  cursor: pointer;
}
